[run]
omit =
    */__main__.py
    futuramaapi/workers/_dramatiq/_runner.py
    futuramaapi/db/migrations/*
    futuramaapi/web_servers/hypercorn.py

[report]
exclude_lines =
    pragma: no cover
    @abstractmethod
    if TYPE_CHECKING:
