ALLOW_ORIGINS=*
DATABASE_URL=postgres+asyncpg://user:password@host/db_name
TRUSTED_HOST=localhost
SECRET_KEY=PRODUCTION-SECRET-KEY
# Optional
G_TAG=G-TAG
POOL_MAX_OVERFLOW=0
POOL_SIZE=10
POOL_TIMEOUT=10
POOL_RECYCLE=1800

# Email settings
EMAIL_FROM_DEFAULT=default@from.email
EMAIL_HOST_USER=host-user
EMAIL_HOST=email-host
EMAIL_API_KEY=secret-api-key

# Broker
REDISCLOUD_URL=redis://user:password@host:6379

# Logging
# Optional, if not set alerts will not be fired.
# To activate do not forget about feature flag ENABLE_SENTRY, which is False by default.
SENTRY_DSN=https://password@host/project
# Can be development, staging or production only
# Default value is production.
SENTRY_ENVIRONMENT=production

#####
# Feature Flags
# All Feature Flags are booleans and default values you can see below.
#####
# Determines if user creating enabled
ACTIVATE_USERS=false
# Enable HTTPS redirect behind the proxy.
# Keep in mind proxy must pass x-forwarded-proto, x-forwarded-port and host in headers.
# TRUSTED_HOST must be valid.
ENABLE_HTTPS_REDIRECT=false
# Enable Sentry Logging
# Requires SENTRY_DSN environment variable to set.
ENABLE_SENTRY=false
SEND_EMAILS=true
COUNT_API_REQUESTS=true
USER_SIGNUP=ture
