{% extends "base.html" %}

{% set active_page = "user_auth" %}

{% block title %}Sign In{% endblock %}

{% block extra_styles %}
  <link
    href="{{ relative_path_for('static', path='/css/auth.css') }}"
    rel="stylesheet"
  />
{% endblock %}

{% block main_info %}{% endblock %}

{% block main_content %}
<div
  class="container"
>
  <div
    class="auth-page"
  >
    <div
      class="auth-container"
    >
      <h1
        class="auth-title"
      >
        Welcome back
      </h1>
        {% if message_type == 'password_changed' %}
          <p
            class="auth-message success"
          >
            Password changed! You’re all set to sign in.
          </p>
        {% elif message_type == 'incorrect_login' %}
          <p
            class="auth-message error"
          >
            Hmm… that username or password doesn’t match our records.
          </p>
        {% endif %}
        <p
          class="auth-subtitle"
        >
          Sign in to continue to Futurama API
        </p>
      <form
        method="POST"
        action="{{ relative_path_for('user_auth') }}"
      >
        <div
          class="auth-field"
        >
          <label
            for="username"
          >
            Username
          </label>
          <input
            type="text"
            id="username"
            name="username"
            required
            autofocus
          >
        </div>
        <div
          class="auth-field"
        >
          <label
            for="password"
          >
            Password
          </label>
          <input
            type="password"
            id="password"
            name="password"
            required
          >
        </div>
        <button
          type="submit"
          class="auth-button"
        >
          Sign in
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
