<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ivan Koldakov">
    <title>{% block titile %}{{ _("FB00002") }}{% endblock %} | {{ _("FB00001") }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ relative_path_for('static', path='/css/base.css') }}" rel="stylesheet">
    {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light"
      >
        <div
          class="container-fluid"
        >
          <a
            class="navbar-brand"
            href="{{ relative_path_for('root') }}"
          >
            {{ _( "FB00001" ) }}
          </a>
        </div>
      </nav>
    </header>
    <main>
      {% block main_content %}{% endblock %}
    </main>
    <footer>
    </footer>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
