<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ivan Koldakov">
    <title>{% block title %}Welcome{% endblock %} | Futurama API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ relative_path_for('static', path='/css/base.css') }}" rel="stylesheet">
    {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-light bg-light"
      >
        <div
          class="container-fluid mx-5"
        >
          <a
            class="navbar-brand"
            href="{{ relative_path_for('root') }}"
          >
            Futurama API
            <sup>{{ version }}</sup>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span
              class="navbar-toggler-icon"
            ></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul
              class="navbar-nav"
            >
              <li
                class="nav-item"
              >
                <a
                  class="nav-link{% if active_page == 'about' %} active{% endif %}"
                  aria-current="page"
                  href="{{ relative_path_for('about') }}"
                >About</a>
              </li>
              <li
                class="nav-item"
              >
               <a
                class="nav-link"
                href="/graphql"
               >GraphQL</a>
              </li>
              <li
                class="nav-item"
              >
                {% if not current_user %}
                <a
                  class="nav-link{% if active_page == 'user_auth' %} active{% endif %}"
                  href="{{ relative_path_for('user_auth') }}"
                 >Sign In</a>
                {% else %}
                <form
                  method="POST"
                  action="{{ relative_path_for('user_logout') }}"
                >
                  <button
                    type="submit"
                    class="btn"
                  >Logout</button>
                </form>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {% block main_info %}
      <div
        class="px-4 pt-5 my-5 text-center intro-background"
      >
        {% if current_user %}
        <h3>Hi, {{ current_user.full_name }}, welcome to</h3>
        {% endif %}
        <h1
          class="display-4 fw-bold"
        >
          Futurama API
        </h1>
        <div
          class="col-lg-6 mx-auto"
        >
          <div
            class="d-grid d-sm-flex justify-content-sm-center mb-5"
          >
            <a
              href="{{ relative_path_for('redoc_html') }}"
              class="btn btn-danger me-1 mt-2"
              role="button"
              target="_blank"
            >Documentation
            </a>
            <a
              href="{{ relative_path_for('swagger') }}"
              class="btn btn-success me-1 mt-2"
              role="button"
              target="_blank"
            >Swagger Playground
            </a>
            <a
              href="/graphql"
              class="btn btn-warning me-1 mt-2"
              role="button"
              target="_blank"
            >GraphQL
            </a>
          </div>
          {% if not current_user %}
          <div
            class="d-grid d-sm-flex justify-content-sm-center mb-5"
          >
            {{ "Join our community today! Already, %(user_count)s have registered, and we're excited to welcome even more members."|format(user_count=user_count) }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endblock %}
      {% block main_content %}{% endblock %}
    </main>
    <footer>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
