{% extends "base.html" %}

{% set active_page = "index" %}

{% block main_content %}
{% if characters %}
<div
  class="album py-5 bg-light"
>
  <div
    class="container"
  >
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
    >
    {% for character in characters %}
      <div
        class="col"
      >
        <div
          class="card shadow-sm"
        >
          <img
            alt="{{ character.name }}"
            src="{{ character.image.path }}"
          />
          <div
            class="card-body"
          >
            <p
              class="card-text"
            >
              Gender: {{ character.gender.value|capitalize }}.
              <br />
              Status: {{ character.status.value|capitalize }}.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            >
              <div
                class="btn-group"
              >
                <a
                  href='{{ relative_path_for("character", character_id=character.id) }}'
                  class="btn btn-sm btn-outline-secondary"
                  role="button"
                  target="_blank"
                >
                  View
                </a>
              </div>
              <small
                class="text-muted"
              >
                {{ character.name }}
              </small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
