{% extends "base.html" %}

{% block titile %}Password Reset{% endblock %} | Futurama API

{% block main_info %}{% endblock %}

{% block main_content %}
<div
  class="container px-5 my-3"
>
  <h1>Password Reset</h1>
  <p>
    Dear {{ current_user.name }} {{ current_user.surname }}, you requested password change.
    You have 15 minutes to reset the password.
  </p>
  <form
    method="POST"
    action=""
  >
    <input
      type="hidden"
      name="sig"
      value="{{ sig }}"
    >
    <div
      class="mb-3"
    >
      <label
        for="password-input-1"
        class="form-label"
      >Password
      </label>
      <input
        type="password"
        name="password1"
        class="form-control"
        id="password-input-1"
      />
    </div>
    <div
      class="mb-3"
    >
      <label
        for="password-input-2"
        class="form-label"
      >Repeat Password
      </label>
      <input
        type="password"
        name="password2"
        class="form-control"
        id="password-input-2"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >Submit
    </button>
  </form>
</div>
{% endblock %}
