{% extends "base.html" %}

{% set active_page = "user_auth" %}

{% block title %}Password Reset{% endblock %}

{% block main_info %}
<link
  href="{{ relative_path_for('static', path='/css/auth.css') }}"
  rel="stylesheet"
/>
{% endblock %}

{% block main_content %}
  <div
    class="container"
  >
    <div
      class="auth-page"
    >
      <div
        class="auth-container"
      >
        <h1
          class="auth-title"
        >
          Reset password
        </h1>
        <p
          class="auth-subtitle"
        >
          Hi {{ current_user.name }} {{ current_user.surname }},<br>
          please enter a new password for your account.
        </p>
        <form
          method="POST"
          action=""
        >
          <input
            type="hidden"
            name="sig"
            value="{{ sig }}"
          >
          <div
            class="auth-field"
          >
            <label
              for="password1"
            >
              New password
            </label>
            <input
              type="password"
              id="password1"
              name="password1"
              required
              autofocus
            >
          </div>
          <div
            class="auth-field"
          >
            <label
              for="password2"
            >
              Repeat password
            </label>
            <input
              type="password"
              id="password2"
              name="password2"
              required
            >
          </div>
          <button
            type="submit"
            class="auth-button"
          >
            Change password
          </button>
        </form>
        <p
          class="auth-warning"
        >
          The link is valid for 15 minutes.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
