{% extends "base.html" %}

{% set active_page = "user_auth" %}

{% block title %}Password Reset{% endblock %}

{% block extra_styles %}
  <link
    href="{{ relative_path_for('static', path='/css/auth.css') }}"
    rel="stylesheet"
  />
{% endblock %}

{% block main_info %}{% endblock %}

{% block main_content %}
  <div
    class="container"
  >
    <div
      class="auth-page"
    >
      <div
        class="auth-container"
      >
        <h1
          class="auth-title"
        >
          Reset password
        </h1>
        {% if current_user %}
          {% if error_type == 'password_mismatch' %}
            <p
              class="auth-message error"
            >
              Passwords do not match.
            </p>
          {% endif %}
          <p
            class="auth-subtitle"
          >
            Hi {{ current_user.name }} {{ current_user.surname }},<br>
            please enter a new password for your account.
          </p>
          <form
            method="POST"
            action=""
          >
            <input
              type="hidden"
              name="sig"
              value="{{ sig }}"
            >
            <div
              class="auth-field"
            >
              <label
                for="password1"
              >
                New password
              </label>
              <input
                type="password"
                id="password1"
                name="password1"
                required
                autofocus
              >
            </div>
            <div
              class="auth-field"
            >
              <label
                for="password2"
              >
                Repeat password
              </label>
              <input
                type="password"
                id="password2"
                name="password2"
                required
              >
            </div>
            <button
              type="submit"
              class="auth-button"
            >
              Change password
            </button>
          </form>
          <p
            class="auth-message warning"
          >
            This reset link expires in <span id="reset-password-countdown">15:00</span>.
          </p>
        {% else %}
          <p
            class="auth-subtitle"
          >
            This password reset link has expired or is invalid.
          </p>
          <div
            class="auth-message warning"
          >
            Please request a new password reset link via API.
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script
    src="{{ relative_path_for('static', path='/js/password-change.js') }}"
  ></script>
{% endblock %}
